# -e vendor/detectron2
opencv-python
ffmpeg-python
tqdm
pandas
luigi
imageio

# for active learning loop
label-studio-ml>=1.0.8
ultralytics
python-dotenv
torchvision==0.16.2
rq
dill

# testing
pytest
requests
